
.canDash{
  display: flex;
  font-family: "IBM Plex Sana Thai Looped", sans-serif;
  color: white;
  background: linear-gradient(120deg,  #2871ad,  #2871adb3,#2871ad68, #eef2f6a8);
  text-shadow: 1px 0px 2px #8dc4f0;
}
.body_container {
  padding: 5%;
  margin: 1%;
}
.conn{
  margin-left: 3%;
  width:100%;
  background-color: rgba(204, 204, 204, 0.548);
  padding:0%;
  padding-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
}
.sidebar_container {
  height: 100vh;
  position: sticky;
  top: 0;
  left:0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sidebar{
  display: flex;
  width: 14rem;
  height: 90%;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 15px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  border-radius:10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.lines_icon{
  display: flex;
  align-self: flex-end;
  height: 2px;
  border-radius: 5px;
  padding: 4px;
}

.profile{
display: flex;
align-items: center;
border-radius: 50%;
margin-bottom: 1rem;
}

.profile>img{
  width: 100%;
border-radius: 50%;
}

.groups{
  display: flex;
  flex-direction: column;
  width: 100%
}
.group{
  display: flex;
  flex-direction: column;
  width: 100%
}
h3{
  font-size: 1rem;
  margin: 10px 0px 10px 0px
}
