.rhDash {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.row {
  display: flex;
  width: 100%;
}

.col {
  flex: 1;
  padding: 20px;
  text-align: left; /* Align text to the left */
}

.settings-section {
  margin-bottom: 20px;
}

.settings-link {
  color: #007bff;
  text-decoration: none;
}

.settings-link:hover {
  text-decoration: underline;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}
