
.rhDash{
    display: flex;
    font-family: "IBM Plex Sana Thai Looped", sans-serif;
    color: white;
    background: linear-gradient(120deg,  #2871ad,  #2871adb3,#2871ad68, #eef2f6a8);
    text-shadow: 1px 0px 2px #8dc4f0;
  }
  .body_container {
    padding: 5%;
    margin: 1%;
  }
  .conn{
    margin-left: 3%;
    width:100%;
    background-color: rgba(204, 204, 204, 0.548);
    padding:0%;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .sidebar_container {
    height: 100vh;
    position: sticky;
    top: 0;
    left:0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .sidebar{
    display: flex;
    width: 14rem;
    height: 90%;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    border-radius:10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .lines_icon{
    display: flex;
    align-self: flex-end;
    height: 2px;
    border-radius: 5px;
    padding: 4px;
  }
  
  .profile{
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 1rem;
  }
  
  .profile>img{
    width: 100%;
  border-radius: 50%;
  }
  
  .groups{
    display: flex;
    flex-direction: column;
    width: 100%
  }
  .group{
    display: flex;
    flex-direction: column;
    width: 100%
  }
  h3{
    font-size: 1rem;
    margin: 10px 0px 10px 0px
  }


.butt {
    padding: 10px 20px;
    border:#2871ad;
    width:300px;
    background-color: #a6a8a600; /* Gray background */
    color: rgba(81, 130, 209, 0.728); /* White text */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.butt:hover {
    background-color: #d6d6d671; /* Lighter gray on hover */
}

.buttt{
  padding: 10px 20px;
  border:hsl(207, 59%, 93%);
  width:150px;
  height: 40px;
  background-color: #0e52c0c4; /* Gray background */
  color: rgba(219, 226, 238, 0.914); /* White text */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.buttt:hover {
  background-color: #2165bdd2; /* Lighter gray on hover */
}
.but{
  padding: 10px 20px;
  border:hsl(207, 59%, 93%);
  width:150px;
  height: 40px;
  background-color: #e4e2e4fe; /* Gray background */
  color: rgba(19, 65, 145, 0.914); /* White text */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.but:hover {
  background-color: #9b9fa53c; /* Lighter gray on hover */
}
.table th, .table td {
    vertical-align: middle;
  }
  
  .btn {
    padding: 5px 10px;
    border-radius: 4px;
    margin: 4px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
 
.content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.table {
  flex: 3;
  margin-right: 20px;
  width: 700px;
}

.table-striped {
  width: 100%;
  border-collapse: collapse;
}

.table-striped th, .table-striped td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-striped th {
  background-color: #f2f2f2;
}


.buttons {
  display: flex;
  gap: 4px; /* Espace entre les boutons */
}
/* Dark Mode Styles */
